In [11]:
import pandas as pd
import numpy as np
data = {
    "Energy Source": ["Solar", "Wind", "Hydropower", "Geothermal", "Biomass", "Nuclear"],
    "Energy Consumption (MWh)": [1200, np.nan, 2900, np.nan, 2500, 3200],
    "Cost (Million $)": [200, 400, np.nan, 150, 250, np.nan]
}
energy_df = pd.DataFrame(data)
print("\n Original Data with Missing Values:")
energy_df.head()

 Original Data with Missing Values:

  Energy Source  Energy Consumption (MWh)  Cost (Million $)
0         Solar                    1200.0             200.0
1          Wind                       NaN             400.0
2    Hydropower                    2900.0               NaN
3    Geothermal                       NaN             150.0
4       Biomass                    2500.0             250.0

In [9]:
cleaned_df = energy_df.dropna()

print("\n Data After Removing Rows with Missing Values:")
cleaned_df.head()

 Data After Removing Rows with Missing Values:

  Energy Source  Energy Consumption (MWh)  Cost (Million $)
0         Solar                    1200.0             200.0
4       Biomass                    2500.0             250.0

In [13]:
ec_mean = energy_df['Energy Consumption (MWh)'].mean()
print('Mean of Energy Consumption (MWh)', ec_mean)
cost_mean = energy_df['Cost (Million $)'].mean()
print('Mean of Cost (Million $)', cost_mean)

Mean of Energy Consumption (MWh) 2450.0
Mean of Cost (Million $) 250.0

In [15]:
#Impute missing values in ' Energy consumption (MWh)' with the mean
energy_df['Energy Consumption (MWh)'].fillna(ec_mean, inplace = True)

#Impute missing values in 'Cost (Million $)' with the mean
energy_df['Cost (Million $)'].fillna(cost_mean, inplace = True)

print('\nData after Imputing Values with Mean:')
energy_df.head()

Data after Imputing Values with Mean:

C:\Users\ambar\AppData\Local\Temp\ipykernel_13416\3638069502.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  energy_df['Energy Consumption (MWh)'].fillna(ec_mean, inplace = True)
C:\Users\ambar\AppData\Local\Temp\ipykernel_13416\3638069502.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  energy_df['Cost (Million $)'].fillna(cost_mean, inplace = True)

  Energy Source  Energy Consumption (MWh)  Cost (Million $)
0         Solar                    1200.0             200.0
1          Wind                    2450.0             400.0
2    Hydropower                    2900.0             250.0
3    Geothermal                    2450.0             150.0
4       Biomass                    2500.0             250.0

In [17]:
# Forward fill missing values
forward_filled_df = energy_df.fillna(method = 'ffill')
print('\nData Before Forward Fillin:')
print(energy_df)
print('\nData After Forward Fillin:')
forward_filled_df.head()

Data Before Forward Fillin:
  Energy Source  Energy Consumption (MWh)  Cost (Million $)
0         Solar                    1200.0             200.0
1          Wind                    2450.0             400.0
2    Hydropower                    2900.0             250.0
3    Geothermal                    2450.0             150.0
4       Biomass                    2500.0             250.0
5       Nuclear                    3200.0             250.0

Data After Forward Fillin:

C:\Users\ambar\AppData\Local\Temp\ipykernel_13416\3357609429.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  forward_filled_df = energy_df.fillna(method = 'ffill')

  Energy Source  Energy Consumption (MWh)  Cost (Million $)
0         Solar                    1200.0             200.0
1          Wind                    2450.0             400.0
2    Hydropower                    2900.0             250.0
3    Geothermal                    2450.0             150.0
4       Biomass                    2500.0             250.0

In [19]:
# Create a flag column indicating missing values in 'Energy Consumption (MWh)'
energy_df["Missing Consumption"] = energy_df["Energy Consumption (MWh)"].isna().astype(int)
energy_df["Missing Cost"] = energy_df["Cost (Million $)"].isna().astype(int)

print("\nData with Missing Values Flagged:")
energy_df.head()

Data with Missing Values Flagged:

,Energy Source,Energy Consumption (MWh),Cost (Million $),Missing Consumption,Missing Cost
0,Solar,1200.0,200.0,0,0
1,Wind,2450.0,400.0,0,0
2,Hydropower,2900.0,250.0,0,0
3,Geothermal,2450.0,150.0,0,0
4,Biomass,2500.0,250.0,0,0

In [27]:
from sklearn.preprocessing import MinMaxScaler
#Normalize the 'Energy Consumption (Mich) and Cost (Million $)'
scaler = MinMaxScaler()

energy_df[["Energy Consumption (MWh)", "Cost (Million $)"]] = scaler.fit_transform(energy_df[["Energy Consumption (MWh)", "Cost (Million $)"]])
print("\nData After Normalization (Min-Max Scaling):")
print(energy_df)

Data After Normalization (Min-Max Scaling):
  Energy Source  Energy Consumption (MWh)  Cost (Million $)  \
0         Solar                     0.000               0.2
1          Wind                     0.625               1.0
2    Hydropower                     0.850               0.4
3    Geothermal                     0.625               0.0
4       Biomass                     0.650               0.4
5       Nuclear                     1.000               0.4

   Missing Consumption  Missing Cost
0                    0             0
1                    0             0
2                    0             0
3                    0             0
4                    0             0
5                    0             0

In [31]:
from sklearn.preprocessing import StandardScaler
#StandardScaler the 'Energy Consumption (Mich) and Cost (Million $)'
scaler = StandardScaler()

energy_df[["Energy Consumption (MWh)", "Cost (Million $)"]] = scaler.fit_transform(energy_df[["Energy Consumption (MWh)", "Cost (Million $)"]])
print("\nData After Standardization (Z-score Scaling):")
print(energy_df)

Data After Standardization (Z-score Scaling):
  Energy Source  Energy Consumption (MWh)  Cost (Million $)  \
0         Solar             -2.005893e+00     -6.546537e-01
1          Wind              2.082884e-16      1.963961e+00
2    Hydropower              7.221213e-01     -2.689447e-17
3    Geothermal              2.082884e-16     -1.309307e+00
4       Biomass              8.023570e-02     -2.689447e-17
5       Nuclear              1.203536e+00     -2.689447e-17

   Missing Consumption  Missing Cost
0                    0             0
1                    0             0
2                    0             0
3                    0             0
4                    0             0
5                    0             0

In [35]:
#One-hot encode the 'Energy Source column
energy_encoded_df = pd.get_dummies(energy_df, columns=["Energy Source"])
print("\nData After One-Hot Encoding Categorical Variables:")
energy_encoded_df.head()

Data After One-Hot Encoding Categorical Variables:

,Energy Consumption (MWh),Cost (Million $),Missing Consumption,Missing Cost,Energy Source_Biomass,Energy Source_Geothermal,Energy Source_Hydropower,Energy Source_Nuclear,Energy Source_Solar,Energy Source_Wind
0,-2.005893e+00,-6.546537e-01,0,0,False,False,False,False,True,False
1,2.082884e-16,1.963961e+00,0,0,False,False,False,False,False,True
2,7.221213e-01,-2.689447e-17,0,0,False,False,True,False,False,False
3,2.082884e-16,-1.309307e+00,0,0,False,True,False,False,False,False
4,8.023570e-02,-2.689447e-17,0,0,True,False,False,False,False,False